.nav-container{
    display:flex;
    justify-content:flex-end;
    position:relative;
}
.nav-btn-1{
    position: absolute;
    top: 30px;
    right: 140px;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.5s;
    padding: 8px 16px;
    border: 1px solid black;
}
.nav-btn-2{
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.5s;
    padding: 8px 16px;
    border: 1px solid black;
}
.nav-btn-1:hover,.nav-btn-2:hover{
    color:black;
    border: 1px solid white;
    background: white;
}